/* Reset global margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(188, 255, 203);
    --secondary-color: rgb(255, 202, 86);
    --large: 200px;
    --small: 10px;
    --timing: 8s;
}

body {
    text-align: center;
    background: rgb(81, 129, 41);
    justify-content: center;
    /* VH = 100% de la taille de l'ecran (viewport height) */
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}        

main {
    margin: auto;
}

h1 {
    color: #743213;
    text-shadow: 1px 1px 3px;
    background: #ffffff42;
    width: 700px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 50px;
}

h2 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    color: rgb(69, 226, 200);
    text-shadow: 1px 1px 5px;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    top : 200px;
    left : 50%;
    transform: translate(-50%,-50%);
}

.timer {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 150px;
    width: 700px;
    position: relative; /* Ajouté pour permettre l'utilisation de pseudo-éléments */
    background: transparent; /* Rendre le fond transparent, l'opacité sera gérée par le pseudo-élément */
    border-radius: 200px;
    align-items: center;
    text-align: top;
    background: #b1822cab;    
}

input.button {
    height: 75px;
    width: 45px;
    border-radius: 15px;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0);
    color : #4b4d0f9a;
    border-color: #ffffff86;
    cursor: pointer;
    transform: translateX(45%);
}

input.timeInputs {
    background-color: #c2cc32ab;
    color: #645f0fd2;
    border-color: #ffffff7c;
    font-weight: 100;
    text-align: center;
    height: 120px;
    width: 60px;
    border-radius: 30px;
    font-size: 5.5rem;
    box-shadow: 0 0 0 0 #ffffff;
}

.twoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.twoButtons {
    display: flex;
    flex-direction: column;
    height: 150px;
    position: absolute;
    transform: translateX(100px);
}

.deuxPoints {
    position: static;
    /* top: 50%; */
    /* left : -50px; */
    font-size: 6rem;
    transform: translateY(-10%);
    color: rgba(88, 88, 88, 1);
    z-index: -1; /* Ensure the colon is behind the buttons */
    opacity: 0;
}

button#startButton {
    border-radius: 50px;
    height: 80px;
    width: 150px;
    margin-top: 20px;
    font-size: 2.5rem;
    cursor: pointer;
    background: #ca6512;
    color: #4b4d0f;
}

button#chronoBtn {
    border-radius: 50px;
    height: 50px;
    width: 70px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 2.5rem;
    cursor: pointer;
    background: #ffffff3f;
    color: #4b4d0f00;
    background-image: url('assets/img/chrono.png');
    background-size: 60%; /* Ajuster la taille de l'image de fond */
    background-repeat: no-repeat;
    background-position: center;
}

/* Le point de respiration */
.breathPoint {
    position: absolute;
    background-color: var(--primary-color);
    width: var(--small);
    height: var(--small);
    border-radius: calc( var(--small) / 2);
    display: inline-block;
    animation: breath var(--timing) ease infinite none running;
    animation-play-state: paused;
    visibility: hidden;
    justify-content: center;
    transform: translate(-50%,-50%);
    top : 50%;
    opacity: 0.95;
}

@keyframes breath {
 25%, 50% {
    background-color: var(--secondary-color);
    width: var(--large);
    height: var(--large);
    border-radius: calc( var(--large) / 2);
 }   
}
/* FIN point de respiration */

.fade {
    transition: opacity 1s ease-in-out;
}

#countdownDisplay {
    font-size: 2.5rem;
    position: absolute;
    top : 2%;
    right : 2%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    /* background: rgba(255, 255, 255, 0.356); */
    border-radius: 25px;
    /* width: 120px;
    height: 120px; */
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
#volumeControl {
    position: absolute;
    top: 45%;
    right: 0%;
    z-index: 2;
    width: 10%;
    height: 10%;
    transform: rotate(270deg);
}

.song {
    position: absolute;
    height: 50px;
    width: 50px;
    top : 63%;
    right : 4%;
}
.selectMeditation {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 10%;
    width: 100%;
}

.ambianceBtn {
    display: flex;
    width: 150px;
    height: 75px;
    margin: auto;    
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
    font-size: 2rem;
    font-family: comic sans ms;
    cursor: pointer;
}
.rainBtn {
    background: rgba(64, 137, 233, 0.596);
    background-image: url('assets/img/rainfall.png');
    background-size: 60%; /* Ajuster la taille de l'image de fond */
    background-repeat: no-repeat;
    background-position: center;
}

.beachBtn {
    background: rgba(233, 174, 64, 0.596);
    background-image: url('assets/img/beach.png');
    background-size: 60%; /* Ajuster la taille de l'image de fond */
    background-repeat: no-repeat;
    background-position: center;
}

.tForestBtn {
    background: rgba(46, 173, 53, 0.596);
    background-image: url('assets/img/tForest.png');
    background-size: 60%; /* Ajuster la taille de l'image de fond */
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1rem; /* Spécifique à cette classe */
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}
#controls {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-size: 2rem;
}

.stopBtn {
    position: absolute;
    display: flex;
    width : 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.452);
    margin: auto;    
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: comic sans ms;
    cursor: pointer;
    top: 2%;
    left: 1%;
    opacity: 0;
    visibility: hidden;
}       
#fullscreenBtn {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.199); /* Réduire l'opacité du fond */
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: rgb(117, 117, 117);
    font-size: 1rem;
    font-family: comic sans ms;
    cursor: pointer;
    margin-bottom: 10px;
    background-image: url('assets/img/fullscreen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%; /* Ajuster la taille de l'image de fond */
}

        /* Classes pour l'effet de fondu */
        .fade-element {
            opacity: 0.2; /* Opacité initiale réduite */
            transition: opacity 0.5s ease-in-out; /* Transition pour le fondu */
        }

        .fade-element:hover {
            opacity: 1 !important; /* Opacité pleine au survol */
        }
@media (max-height: 550px) {
    h2 {
        top : 100px;
    }
    .selectMeditation {
        display: flex;
        height : 200px;
        width: 200px;
        flex-direction: column;
    }
    .ambianceBtn {
        height: 50px;
        width: 100px;
        font-size: 1rem;
    }
    .tForestBtn {
        font-size: 0.75rem;
    }
}

@media (max-width: 1100px) {
    h2 {
        font-size: 2rem;
    }
    .ambianceBtn {
        height: 70px;
        width: 130px;
        font-size: 1.3rem;
    }
    .tForestBtn {
        font-size: 1rem;
    }
    .timer {
        height: 100px;
        width: 500px;
    }
    input.button {
        height: 50px;
        width: 30px;
        transform: translateX(-50%);
        font-size: 2vw;
    }
    .twoButtons{
        height: 100px;
    }
    input.timeInputs {
        height: 90px;
        width: 40px;
        font-size: 4rem;
    }
    button#startButton {
        height: 50px;
        width: 75px;
        font-size: 2vw;
    }
    #countdownDisplay {
        font-size: 1.5rem;
        width: 100px;
    }
    .stopBtn {
        font-size: 1rem;
        width: 40px;
        height: 40px;
    }
    button#chronoBtn {
        height: 40px;
        width: 56px;
    }
    .song {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 850px) {
    h1 {
        font-size: 1rem;
        width: 320px;
    }
    h2 {
        font-size: 1.5rem;
    }
    .timer {
        height: 75px;
        width: 420px;
    }
    input.button {
        height: 37px;
        width: 22px;
        transform: translateX(-150%);
        font-size: 1.5vw;
    }
    .twoButtons{
        height: 75px;
    }
    input.timeInputs {
        height: 67px;
        width: 30px;
        font-size: 6vw;
    }
    button#startButton {
        height: 50px;
        width: 75px;
        font-size: 2vw;
    }
    button#chronoBtn {
        height: 30px;
        width: 42px;
    }
    .song {
        height: 30px;
        width: 30px;
    }
}

/* TEST */@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.countdown {
    position: absolute;
    display: flex;
    top : 10%;
    right : 10%;
}

.path--background {
  fill: rgb(34, 213, 201);
  stroke: #fff;
  stroke-width: 0px;
}

.pulse {
  fill: rgb(40, 250, 145) !important;
}

.path--foreground {
  fill: #eee;
  stroke: #eee;
  stroke-width: 2px;
}

.label {
  font: 90px "Open Sans";
  font-weight: 900;
  text-anchor: middle;
  fill: rgb(34, 213, 201);
}